<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary" (click)="onlyOdd = !onlyOdd">Only show odd numbers</button>
      <br><br>
      <ul class="list-group">
        <div *ngIf="onlyOdd">
          <li class="list-group-item" [ngClass]="{odd:oddNumber%2!==0}" [ngStyle]="{backgroundColor:oddNumber%2!==0?'yellow':'lightgreen'}"
            *ngFor="let oddNumber of oddNumbers">
            {{oddNumber}}
          </li>
        </div>
        <!-- <div *ngIf="!onlyOdd">
          <li class="list-group-item" [ngStyle]="{backgroundColor:oddNumber%2===0?'yellow':'lightgreen'}" [ngClass]="{even:evenNumber%2===0}"
            *ngFor="let evenNumber of evenNumbers">
            {{evenNumber}}
          </li>
        </div>

        <ng-template [ngIf]="'!onlyOdd'">
          <div>
            <li class="list-group-item" [ngStyle]="{backgroundColor:oddNumber%2===0?'yellow':'lightgreen'}" [ngClass]="{even:evenNumber%2===0}"
              *ngFor="let evenNumber of evenNumbers">
              {{evenNumber}}
            </li>
          </div>
        </ng-template> -->

        <div *appUnless="onlyOdd">
          <li class="list-group-item" [ngStyle]="{backgroundColor:oddNumber%2===0?'yellow':'lightgreen'}" [ngClass]="{even:evenNumber%2===0}"
            *ngFor="let evenNumber of evenNumbers">
            {{evenNumber}}
          </li>
        </div>
      </ul>

    </div>
  </div>
  <p appBasicHighlight>Style with basic hightlight</p>
  <p [appBetterHightlight]="'lightgreen'" [defaultColor]="'yellow'">Style with better hightlight</p>
  <div [ngSwitch]="value">
    <p *ngSwitchCase="5">Value is 5</p>
    <p *ngSwitchCase="10">Value is 10</p>
    <p *ngSwitchCase="15">Value is 15</p>
    <p *ngSwitchCase="20">Value is 20</p>
    <p *ngSwitchDefault>Value is default</p>


  </div>
</div>