<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <!-- Add a Form with the following Inputs (and Validators)
           1) Mail address (should not be empty and should be an email address)
           2) A Dropdown which allows the user to select from three different Subscriptions ("Basic", "Advanced", "Pro")
              Set "Advanced" as Default
           3) A Password field (should not be empty)
           4) A Submit Button

           Display a warning message if the Form is invalid AND was touched. Display a warning message below each input if it's invalid.

           Upon submitting the form, you should simply print the Value of the Form to the Console.
           Optionally, display it in your template.
      -->
      <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="form-group" >
          <label for="email">E-Mail</label>
          <input type="email" id="email" class="form-control" ngModel name="email" required email #email="ngModel">
          <span class="help-block" *ngIf="!email.valid && email.touched">Please enter a valid email</span>
        </div>
        <div class="form-group">
          <label >Secret Questions</label>
          <select id="subscription" class="form-control" [ngModel]="defaultSubscription" name="subscription" >
            <option *ngFor="let option of subscriptions" value="{{option}}">{{option}}</option>
          </select>
        </div>
        <div class="form-group">
          <label>Password</label>
          <input class="form-control" type="password" required ngModel name="password" #password="ngModel"/>
          <span class="help-block" *ngIf="!password.valid && password.touched">Please enter a password</span>
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Submit</button>

      </form>
    </div>
  </div>
  <hr>
  <div class="row" *ngIf="submitted">
    <h3>Your Data</h3>
    <div class="col-xs-12">
      <p><b>Email:</b>{{subscription.email}}</p>
      <p><b>Password:</b> {{subscription.password}}</p>
      <p><b>Subscription:</b> {{subscription.subscription}}</p>     
    </div>
  </div>
</div>